{{#section "css"}}
<link rel="stylesheet" href="../../public/assets/css/landlord/header_landlord.css" />
<link rel="stylesheet" href="../../public/assets/css/detaills_house.css" />
{{/section}}
{{#section "js"}}
<script src="../../public/assets/js/header_landlors.js"></script>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 10.762536872673731, lng: 106.68232551166415 }, // Tọa độ trung tâm của bản đồ
            zoom: 12 // Mức độ thu phóng của bản đồ
        });

        // Tạo một đánh địa điểm trên bản đồ
        var marker = new google.maps.Marker({
            position: { lat: 10.762536872673731, lng: 106.68232551166415 }, // Tọa độ của đánh dấu
            map: map, // Bản đồ để đặt đánh dấu
            title: 'Địa điểm' // Tiêu đề của đánh dấu
        });
        //Paging
    }

    const url = window.location.pathname;
    const idPost = parseInt(url.substring(url.lastIndexOf('/') + 1));
    console.log(idPost)
    const divAddFavourite = document.getElementById("add-favourite");
    const date = document.getElementById("date");
    const time = document.getElementById("time");
    const btnConfCancel = document.getElementById("btn-confirm-cancel");
    const iconConfCancel = document.getElementById("btn-close");
    const btnConfPost = document.getElementById("btn-confirm");
    const btnOpenForm = document.getElementById("btn-open-form");
    const btnAddFavourite = document.getElementById("btn-add-favourite");
    btnConfCancel.addEventListener('click', closeConfirm);
    iconConfCancel.addEventListener('click', closeConfirm);
    if (btnOpenForm)
        btnOpenForm.addEventListener('click', openConfirm);

    const btnReportForm = document.getElementById("btn-report-form");
    const reportForm = document.getElementById("report-form");
    const btnCancelReport = document.getElementById("cancel-report");

    if (btnReportForm) {
        btnReportForm.addEventListener("click", function () {
            reportForm.style.display = "block";
        });

    }

    btnCancelReport.addEventListener("click", function () {
        reportForm.style.display = "none";
    });

    function addPost(e) {
        //e.preventDefault();
        fetch(`/tenant/add-favourite/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ idPost })
        })
            .then((response) => {
                divAddFavourite.innerHTML = '<button id="btn-add-favourite" class="like-btn" onClick="delPost()"><i class="fa-solid fa-heart" style = "color: #ffffff;"></i > Yêu thích</button > ';
                // Handle the response from the server
                console.log('Response:', response);
            })
            .catch((error) => {
                // Handle any errors that occur
                console.error('Error:', error);
            });
    }
    function delPost(e) {
        fetch(`/tenant/delete-favourite/${idPost}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },

        })
            .then((response) => {
                divAddFavourite.innerHTML = '<button id="btn-add-favourite" class="like-btn" onClick="addPost()"><i class="fa-solid fa-heart" style = "color: #ffffff;"></i> Xóa khỏi yêu thích</button > ';
                // Handle the response from the server
                console.log('Response:', response);
            })
            .catch((error) => {
                // Handle any errors that occur
                console.error('Error:', error);
            });
    }
    function openConfirm(e) {
        let modal = document.querySelector(".modal-appointment-confirm");
        modal.style.display = 'flex';
    }
    function closeConfirm(e) {
        let modal = document.querySelector(".modal-appointment-confirm");
        modal.style.display = 'none';
    }
    date.addEventListener('change', function (event) {
        const val = date.value;
        if (val == "") {
            let note = document.getElementById('date-note');
            note.style.display = 'block';
        }
        else {
            let note = document.getElementById('date-note');
            note.style.display = 'none';
        }
    })
    time.addEventListener('change', function (event) {
        const val = time.value;
        if (val == "") {
            let note = document.getElementById('time-note');
            note.style.display = 'block';
        }
        else {
            let note = document.getElementById('time-note');
            note.style.display = 'none';
        }
    })

    document.addEventListener("DOMContentLoaded", function () {
        var h3Elements = document.querySelectorAll(".truncate");
        h3Elements.forEach(function (element) {
            var text = element.textContent;
            var truncatedText = text.length > 30 ? text.substring(0, 30) + "..." : text;
            element.textContent = truncatedText;
        });
    });


</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeOS7IcZeQdZrFqQOWnddYHwki4xDCCBI&callback=initMap"></script>
{{/section}}
{{#if user}}
{{#ifEqualString user.LoaiNguoiDung "Người chủ trọ"}}
{{>header_landlord}}
{{else ifEqualString user.LoaiNguoiDung "Người thuê trọ"}}
{{>header_tenant}}
{{else ifEqualString user.LoaiNguoiDung "Admin"}}
{{>header_admin}}
{{else}}
{{>header_default}}
{{/ifEqualString}}
{{else}}
{{>header_default}}
{{/if}}
<div class="content" style="margin-right: 14.3%; margin-left:14.3%;">
    {{!-- forms --}}
    {{!-- form appointment --}}
    <form action="/tenant/add-appointment/{{post.TinID}}" method="post" id="post-appointment"
        class="modal-appointment-confirm">
        <div class="modal__container d-flex flex-column justify-content-between">
            <div class="modal__container-header border-bottom">
                <div class="d-flex justify-content-between">
                    <h5>ĐẶT LỊCH HẸN</h5>
                    <i id="btn-close" class="fas fa-times"></i>
                </div>
            </div>
            <div class="modal__input-item">
                <label class="d-block mb-2" for="date">Ngày hẹn gặp<span style="color:red">*</span></label>
                <input type="date" id="date" name="date" value="" required>
                <div class="text-danger content__note" id="date-note">
                    Vui lòng chọn ngày gặp
                </div>
            </div>
            <div class="modal__input-item">
                <label class="d-block mb-2" for="time">Thời gian cụ thể<span style="color:red">*</span></label>
                <input type="time" id="time" name="time" value="" required>
                <div class="text-danger content__note" id="time-note">
                    Vui lòng chọn thời gian cụ thể
                </div>
            </div>
            <div class="modal__container-btns text-end pb-2">
                <button type="submit" form="post-appointment" id="btn-confirm-del">Đặt lịch</button>
                <button id="btn-confirm-cancel">Hủy</button>
            </div>
        </div>
    </form>
    {{!-- form report --}}
    <div id="report-form" style="display: none;">
        <h2>Báo cáo vi phạm</h2>
        <form action="/tenant/add-report/{{post.TinID}}" method="post">
            <label for="violation-description">Mô tả chi tiết:</label>
            <textarea id="violation-description" name="description" required></textarea>
            <br>
            {{#if user}}
            <button type="submit">Gửi báo cáo</button>
            {{else}}
            <a href="/account/login">Gửi báo cáo</a>
            {{/if}}

            <button type="button" id="cancel-report" style="margin-left:10px; background-color: #002ffe">Hủy</button>
        </form>
    </div>
    <div class="infor"
        style="background-color: white; padding: 10px 80px; box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.2); ">
        <h1 style="font-size: 27px; margin-top: 2%">CHI TIẾT PHÒNG TRỌ</h1>
        <hr>

        <div class="row">
            <div class="col-9 picture">
                {{!-- image --}}
                <div class="col pic-product p-3 " style="display: flex; flex-direction: column; align-items: center;">
                    <div class="image" style="height: 300px; width:100%;">
                        <img src="{{ image.[0].ChiTietHinhAnh }}" alt="" style="">
                    </div>
                    <div class="extra-pics mt-2" style="height: 110px; width:100%;">
                        {{#each image}}
                        <img src="{{ this.ChiTietHinhAnh}}" alt="">
                        {{/each}}
                    </div>

                </div>
            </div>
            {{!-- landllord info --}}
            <div class="col-3" style="margin-top:15px;">
                <div class="author-aside">
                    <figure class="author-avatar"><img src="{{ author.avatar }}"></figure>
                    <span class="author-post">Được đăng bởi</span>
                    <span class="author-name">{{ author.HoTen }}</span> <!-- Hiển thị tên người đăng -->
                    <span class="btn author-phone" style="font-weight:400;">{{ author.SDT }}</span>

                </div>
                <div>
                    {{#if user}}

                    {{#if checkAppointment}}
                    <a href="/tenant/manage-appointment">
                        <button class="btn-booking" style="font-weight:500; background-color:rgb(41, 187, 41)">Xem chi
                            tiết
                            lịch xem phòng</button>
                    </a>
                    {{else}}
                    <button id="btn-open-form" class="btn-booking"
                        style="font-weight:500; background-color:rgb(41, 187, 41)">Đặt lịch xem phòng</button>
                    {{/if}}
                    {{else}}
                    <button class="btn-booking" style="font-weight:500; background-color:rgb(41, 187, 41)">
                        <a href="/account/login">Đặt lịch xem phòng</a>
                    </button>

                    {{/if}}
                    <div class="action-buttons">
                        <button class="report-btn" id="btn-report-form"
                            style="background-color:rgba(204, 50, 50, 0.795)">
                            <i class="fa-solid fa-flag" style="color: #ffffff;"></i> Báo cáo</button>

                        </button>
                        <div id="add-favourite">

                            {{#if user}}

                            {{#if checkFavourite}}
                            <button id="btn-add-favourite" class="like-btn" onClick="delPost()"><i
                                    class="fa-solid fa-heart" style="color: #ffffff;"></i>
                                Xóa khỏi danh sách yêu thích
                            </button>
                            {{else}}
                            <button id="btn-add-favourite" class="like-btn" onClick="addPost()"><i
                                    class="fa-solid fa-heart" style="color: #ffffff;"></i>
                                Yêu thích
                            </button>
                            {{/if}}

                            {{else}}
                            <button class="like-btn "><i class="fa-solid fa-heart" style="color: #ffffff;"></i>
                                <a href="/account/login"> Yêu thích</a>
                            </button>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- info --}}
    <br>
    <div class="description" style="background-color:white; padding:20px; box-shadow:4px 2px 10px rgba(0, 0, 0, 0.2);">
        <h2>Thông tin chung</h2>
        <ul>
            <li><strong>Địa chỉ:</strong> {{post.DiaChi}}</li>
            <li><strong>Diện tích:</strong> {{post.DienTich}}m²</li>
            <li><strong>Giá thuê:</strong> {{post.Gia}} VNĐ/tháng</li>
            <li><strong>Người đăng tin:</strong> {{post.NguoiDangTin}}</li>
            <li><strong>Ngày đăng tin:</strong> {{formatDate post.NgayDang}}</li>
            <li><strong>Trạng thái kiểm duyệt:</strong> {{post.TrangThaiKiemDuyet}}</li>
            <li><strong>Số người ở:</strong> {{post.SoNguoi}}</li>
            <li><strong>Tiền nước:</strong> {{post.TienNuoc}} VNĐ/m3</li>
            <li><strong>Tiền điện:</strong> {{post.TienDien}} VNĐ/kWh</li>
        </ul>
        <h2>Tiện ích</h2>
        <div class="column">
            <ul>
                {{#each utilities}}
                {{#if (isEven @index)}}
                <li>
                    <i class="{{getIconClass this.Ten}} icon common-icon"></i> {{this.Ten}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
        <div class="column">
            <ul>
                {{#each utilities}}
                {{#unless (isEven @index)}}
                <li>
                    <i class="{{getIconClass this.Ten}} icon common-icon"></i> {{this.Ten}}
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <h2>Bản đồ vị trí</h2>
        <div id="map"></div>
    </div>
    {{!-- related --}}
    <br>
    <div class="relate" style="background-color:white; padding:20px; box-shadow:4px 2px 10px rgba(0, 0, 0, 0.2);">
        <h2>Các phòng trọ liên quan</h2>
        <div class="related-rooms">
            {{#each relate}}
            {{#ifCond @index '<' 3}} <a href="/post/details/{{this.TinID}}" class="room"
                style="color:black; text-decoration:none">
                <img src="{{this.Hinhanh}}" alt="" style="display:block; margin: -1px;">
                <h3 class="truncate">{{this.Ten}}</h3>
                <div>
                    <img src="../../public/assets/pictures/home.png" alt=""
                        style="width:13px; height:13px; margin-top:6.5px">
                    <p class="inline">Loại trọ: {{this.LoaiTro}}</p>
                </div>
                <div>
                    <img src="../../public/assets/pictures/area-graph.png" alt=""
                        style="width:13px; height:13px; margin-top:6.5px">
                    <p class="inline">Diện tích: {{this.DienTich}}m2</p>
                </div>
                <div>
                    <img src="../../public/assets/pictures/best-price.png" alt=""
                        style="width:13px; height:13px; margin-top:6.5px">
                    <p class="inline" style="color:blue">{{this.Gia}} VNĐ</p>
                </div>
                <div>
                    <img src="../../public/assets/pictures/calendar.png" alt=""
                        style="width:13px; height:13px; margin-top:6.5px">
                    <p class="inline" style="color:rgb(139, 139, 139)">{{formatDate this.NgayDang}}</p>
                </div>
                <div class="location">
                    <img src="../../public/assets/pictures/location.png" alt=""
                        style="width:13px; height:13px; margin-top:6.5px">
                    <p class="truncate">{{this.DiaChi}}</p>
                </div>
                </a>
                {{/ifCond}}
                {{/each}}

        </div>
    </div>

    <br>
    <div class="description" style="background-color:white; padding:20px; box-shadow:4px 2px 10px rgba(0, 0, 0, 0.2);">
        <h2>Đánh giá</h2>
        <div class="list-review">
            {{#each review}}
            <div class="review row py-4 border-bottom">
                <div class="col-2 text-center">
                    <img src="{{this.avatar}}" alt="" class="" style="width: 50%;height: 100%;">
                </div>
                <div class="col-10 text-start" style="margin-left: -40px;">
                    <span class="name">{{this.HoTen}}</span>
                    <p>Điểm đánh giá: {{this.DiemDanhGia}}/10 - Ngày đánh giá:{{formatDate this.NgayDang}}</p>
                    <p class="comment">{{this.ChiTietDanhGia}}</p>

                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<br>

<head>
    <style>
        .location {
            display: flex;
            align-items: center;
        }

        .location img {
            margin-right: 4%;
        }

        h2 {
            clear: both;
            margin-top: 0;
        }

        .column {
            float: left;
            width: 50%;
        }

        .author-aside {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .author-avatar img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        .author-name {
            overflow: hidden;
            /* Ẩn phần vượt quá kích thước của phần tử */
            /* Ngăn chặn chữ xuống dòng */
            text-overflow: ellipsis;
            /* Hiển thị dấu ba chấm khi chữ bị tràn ra */
            max-width: 110%;
            /* Giới hạn kích thước tối đa của phần tử */
        }


        .author-phone {
            font-weight: 400;
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        @media (max-width: 768px) {
            .author-phone {
                font-size: 12px;
            }
        }

        @media (max-width: 768px) {
            .author-avatar img {
                width: 80px;
                height: 80px;
            }
        }

        .column {
            float: left;
            width: 50%;
        }
    </style>
</head>