{{#section "css"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="../../public/assets/css/admin/admin_profile.css"
  />
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
  <link rel="stylesheet" type="text/css" href="../../public/assets/css/admin/form.css"/>  
{{/section}}
{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

<script src="../../public/assets/js/validator.js"></script>
<script>
  $('#NgayGap').datetimepicker({
    timepicker: false,
    format: 'Y/m/d',
    mask: true,
  });
</script>
<script>
    

    $(document).ready(function () {
        $.ajax({
            url: "http://localhost:3000/api/users",
            type: "get",
            dateType: "json",

            success: function (result) {
                $.each(result, function (key, value) {
                    let item = $(`<option value='${value.NguoiDungID}'>${value.NguoiDungID} - ${value.HoTen}</option>`);
                    $("#NguoiDatHen").append(item);
                });
            }
        });

        $.ajax({
            url: "http://localhost:3000/api/posts",
            type: "get",
            dateType: "json",

            success: function (result) {
                $.each(result, function (key, value) {
                    let item = $(`<option value='${value.TinID}'>${value.TinID} - ${value.Ten}</option>`);
                    $("#TinID").append(item);
                });
            }
        });
    });
</script>
{{/section}}

<div class="container-fluid">
  <div class="row" style="margin-bottom:16px">
    <nav class="col-2 bg-light sidebar">
        <ul class="nav flex-column">
          <li>
            <div class="img-profile">
              <img
                class="rounded-circle img-thumbnail img-avt"
                {{#if (isEmpty this.user.avatar) }}
                src="../../public/assets/images/no_avatar.png"
                {{else}}
                src="../../public/assets/images/{{this.user.avatar}}"
                {{/if}}
                alt="avatar"
              />
            </div>
            <div>
              <p class="h6 img-name">{{this.user.firstName}} {{this.user.lastName}}</p>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/profile">
              <i class="fa fa-cog" aria-hidden="true"></i>
              Hồ sơ cá nhân
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/users">
              <i class="fa fa-user" aria-hidden="true"></i>
              Người dùng
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/posts">
              <i class="fa fa-user" aria-hidden="true"></i>
              Tin đăng trọ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/admin/appointments">
              <i class="fa fa-user" aria-hidden="true"></i>
              Lịch hẹn
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/reviews">
              <i class="fa fa-comments" aria-hidden="true"></i>
              Đánh giá
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/admin/reports">
              <i class="fa fa-flag" aria-hidden="true"></i>
              Báo cáo
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/admin/logout">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Đăng xuất
            </a>
          </li>
        </ul>
    </nav>
    
    <div class="col-10 h-100">
        <div class="card">
          <div class="card-header">
            <h4>Thêm lịch hẹn</h4>
          </div>
          <div class="card-body m-5">
            <form method="post" id="form-1">
              <div class="form-group row">
                <label for="TinID" class="col-sm-3 col-form-label">Tin ID</label>
                <div class="col-sm-8 form-error">
                  <select required name="TinID" id="TinID" style="width: 100%; height:100%;">
                    <option class="text-center" style="width: 100%;">--Chọn tin đăng trọ--</option>
                    </select>
                </div>
                
              </div>
              <div class="form-group row">
                <label for="NguoiDatHen" class="col-sm-3 col-form-label">Người đặt hẹn ID</label>
                <div class="col-sm-8 form-error">
                  <select required name="NguoiDatHen" id="NguoiDatHen" style="width: 100%; height:100%;">
                    <option class="text-center" style="width: 100%;">--Chọn người đặt hẹn--</option>
                    </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="username" class="col-sm-3 col-form-label">Ngày đặt hẹn</label>
                <div class="col-sm-8 form-error">
                  <input readonly name="NgayDatHen" type="text" class="form-control" id="NgayDatHen" value="{{NgayDatHen}}">
                </div>
              </div>
              <div class="form-group row">
                <label for="username" class="col-sm-3 col-form-label">Ngày xem phòng</label>
                <div class="col-sm-8 form-error">
                  <input name="NgayGap" type="text" class="form-control" id="NgayGap">
                </div>
              </div>
               <div class="form-group row">
                <label for="role" class="col-sm-3 col-form-label">Trạng thái lịch hẹn</label>
                <div class="col-sm-8">
                  <select name="TrangThaiLichHen" class="custom-select mr-sm-2" id="role">
                     <option value="Chưa xác nhận" selected>Chưa xác nhận</option>
                     <option value="Đã xác nhận">Đã xác nhận</option>
                    <option value="Đã hủy">Đã hủy</option>
                  </select>
                </div>
              </div>
              <button class="btn btn-primary font-weight-bold mt-5" type="submit" style="width:100px; display:flex; margin:auto; justify-content: center;">LƯU</button>
            </form>
          </div>
        </div>
      </div>

  </div>
</div>