{{#section "css"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="../../public/assets/css/admin/admin_profile.css"
  />
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
  <link rel="stylesheet" type="text/css" href="../../public/assets/css/admin/form.css"/>  
  
{{/section}}

{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

<script src="../../public/assets/js/validator.js"></script>
<script>
  $('#txtDOB').datetimepicker({
    timepicker: false,
    format: 'd/m/Y',
    mask: true,
  });

  Validator({
        form: '#form-1',
         rules: [
            Validator.isRequired('#email', "Vui lòng nhập email"),
            Validator.isEmail('#email'),
            Validator.isRequired('#username', "Vui lòng nhập tên đăng nhập"),
            Validator.isRequired('#name', "Vui lòng nhập họ tên"),
            Validator.isRequired('#phone', "Vui lòng nhập số điện thoại"),
            Validator.isPhoneNumber('#phone'),
        ]
    });

  Validator({
          form: '#form-2',
          rules: [
              Validator.isRequired('#p1', "Vui lòng nhập mật khẩu"),
              Validator.minLength('#p2', 6),
              Validator.isCorrect('#p3', '#p2'),
          ]
      });
</script>
{{/section}}

<div class="container-fluid">
    <div class="row">
      <nav class="col-2 bg-light sidebar">
        <ul class="nav flex-column">
          <li>
            <div class="img-profile">
              <img
                class="rounded-circle img-thumbnail img-avt"
                {{#if (isEmpty user.avatar) }}
                src="../../public/assets/pictures/no_avatar.png"
                {{else}}
                src="{{user.avatar}}"
                {{/if}}
                alt="avatar"
              />
            </div>
            <div>
              <p class="h6 img-name">{{user.HoTen}}</p>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="">
              <i class="fa fa-cog" aria-hidden="true"></i>
              Hồ sơ cá nhân
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/users">
              <i class="fa fa-user" aria-hidden="true"></i>
              Người dùng
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/posts">
              <i class="fa fa-user" aria-hidden="true"></i>
              Tin đăng trọ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/appointments">
              <i class="fa fa-user" aria-hidden="true"></i>
              Lịch hẹn
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/reviews">
              <i class="fa fa-comments" aria-hidden="true"></i>
              Đánh giá
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/admin/reports">
              <i class="fa fa-flag" aria-hidden="true"></i>
              Báo cáo
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/admin/logout">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Đăng xuất
            </a>
          </li>
        </ul>
      </nav>
      <div class="col-10 h-100">
        <div class="card">
          <div class="card-header">
            <h4>Hồ sơ cá nhân</h4>
          </div>
          <div class="card-body m-5">
            <form method="post" id="form-1">
              <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Tên đăng nhập</label>
                <div class="col-sm-8 form-error">
                  <input name="TaiKhoan" type="text" class="form-control" id="username" value="{{user.TaiKhoan}}">
                  <span class="form-message"></span>
                </div>
              </div>
              <div class="form-group row">
                <label for="password"class="col-sm-2 col-form-label">Mật khẩu</label>
                <div class="col-sm-8 form-error">
                  <input type="password" readonly class="form-control" id="password" placeholder="********">
                </div> 
                 <div class="col-sm-2">
                    <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#passwordModal">Thay đổi</button>
                  </div>
              </div>
              <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Họ tên</label>
                <div class="col-sm-8 form-error">
                  <input name="HoTen" type="text" class="form-control" value="{{user.HoTen}}" id="name">
                  <span class="form-message"></span>
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-8 form-error">
                  <input name="Email" type="email"  class="form-control"  id="email" value="{{user.Email}}">
                  <span class="form-message"></span>
                </div> 
              </div>
              <div class="form-group row">
                <label for="phone" class="col-sm-2 col-form-label">SĐT</label>
                <div class="col-sm-8 form-error">
                  <input name="SDT" type="text" class="form-control" value="{{user.SDT}}" id="phone">
                  <span class="form-message"></span>
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Giới tính</label>
                <div class="col-sm-8" style="display: flex; align-items:center;">
                  <div class="form-check form-check-inline" style="display: flex; align-items:center;">
                    {{#ifEqualString user.GioiTinh "Nam"}}
                    <input class="form-check-input" type="radio" checked="true" name="GioiTinh" id="inlineRadio1" value="Nam" checked>
                    {{else}}
                     <input class="form-check-input" type="radio" checked="true" name="GioiTinh" id="inlineRadio1" value="Nam">
                    {{/ifEqualString}}
                    <label class="form-check-label" for="inlineRadio1">Nam</label>
                  </div>
                  <div class="form-check form-check-inline" style="display: flex; align-items:center;">
                    {{#ifEqualString user.GioiTinh "Nữ"}}
                    <input class="form-check-input" type="radio" checked="true" name="GioiTinh" id="inlineRadio1" value="Nữ" checked>
                    {{else}}
                     <input class="form-check-input" type="radio" checked="true" name="GioiTinh" id="inlineRadio1" value="Nữ">
                    {{/ifEqualString}}
                    <label class="form-check-label" for="inlineRadio1">Nữ</label>
                  </div>
                  <div class="form-check form-check-inline" style="display: flex; align-items:center;">
                    {{#ifEqualString user.GioiTinh "Khác"}}
                    <input class="form-check-input" type="radio" checked="true" name="GioiTinh" id="inlineRadio1" value="Khác" checked>
                    {{else}}
                     <input class="form-check-input" type="radio" checked="true" name="GioiTinh" id="inlineRadio1" value="Khác">
                    {{/ifEqualString}}
                    <label class="form-check-label" for="inlineRadio1">Khác</label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="dob" class="col-sm-2 col-form-label">Ngày sinh</label>
                <div class="col-sm-8">
                  <input name="NgaySinh" type="text" class="form-control" id="dob" value="{{user.NgaySinh}}">
                </div>
              </div>
              <button class="btn btn-primary font-weight-bold mt-5" type="submit" style="width:100px; display:flex; margin:auto; justify-content: center;">LƯU</button>
            </form>

           
            <div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" style="margin-top: 11%;">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thay đổi mật khẩu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form method="post" action="/admin/profile/password" id="form-2">
                    <div class="modal-body">
                      <div class="input-group">
                        <div class="form-group input-group form-error" style="display: flex; flex-direction: column;">
                          <input
                            id="p1"
                            type="password"
                            class="form-control w-100"
                            placeholder="Nhập mật khẩu hiện tại"
                            name="MatKhauHienTai"
                          />
                          <span class="form-message"></span>
                        </div>
                      
                        <div class="form-group input-group form-error" style="display: flex; flex-direction: column;">
                          <input
                            id="p2"
                            type="password"
                            class="form-control w-100"
                            placeholder="Nhập mật khẩu mới"
                             name="MatKhauMoi"
                          />
                          <span class="form-message"></span>
                        </div>
                        
                        <div class="form-group input-group form-error" style="display: flex; flex-direction: column;">
                          <input
                            id="p3"
                            type="password"
                            name="MatKhau"
                            class="form-control w-100" 
                            placeholder="Nhập lại mật khẩu"
                          />
                          <span class="form-message"></span>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                      <button type="submit" class="btn btn-primary d-flex px-4">Xác nhận</button>
                    </div>
                  </form>
              </div>
            </div>
            
            </div>
        </div>
      </div>
    </div>

</div>