{{#section "css"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="../../public/assets/css/admin/admin_profile.css"
  />
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
  <link rel="stylesheet" type="text/css" href="../../public/assets/css/admin/form.css"/>  
{{/section}}
{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

<script src="../../public/assets/js/validator.js"></script>
<script>
  $('#dob').datetimepicker({
    timepicker: false,
    format: 'Y/m/d',
    mask: true,
  });

  Validator({
        form: '#form-1',
        rules: [
            Validator.isRequired('#email', "Vui lòng nhập email"),
            Validator.isEmail('#email'),
            Validator.isRequired('#username', "Vui lòng nhập tên đăng nhập"),
            Validator.isRequired('#name', "Vui lòng nhập họ tên"),
            Validator.isRequired('#phone', "Vui lòng nhập số điện thoại"),
            Validator.isPhoneNumber('#phone'),
        ]
    });
</script>
{{/section}}

<div class="container-fluid">
  <div class="row" style="margin-bottom:16px">
    <nav class="col-2 bg-light sidebar">
        <ul class="nav flex-column">
          <li>
            <div class="img-profile">
              <img
                class="rounded-circle img-thumbnail img-avt"
                {{!-- {{#if (isEmpty this.user.image) }}
                src="../../public/assets/images/no_avt_male.png"
                {{else}}
                src="../../public/assets/images/{{this.user.image}}"
                {{/if}} --}}
                src="../../public/assets/pictures/no-avt.jpg"
                alt="avatar"
              />
            </div>
            <div>
              <p class="h6 img-name">{{this.user.firstName}} {{this.user.lastName}}</p>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/profile">
              <i class="fa fa-cog" aria-hidden="true"></i>
              Hồ sơ cá nhân
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/admin/users">
              <i class="fa fa-user" aria-hidden="true"></i>
              Người dùng
            </a>
            <ul class="list-group">
              <li class="d-flex justify-content-between align-items-center pl-5 pr-4">
                <a class="sub-nav" href="/admin/users?role=1" style="text-decoration:none;">
                  Người thuê trọ
                </a>
                <span class="badge badge-primary badge-pill">14</span>
              </li>
              <li class=" d-flex justify-content-between align-items-center pl-5 pr-4">
                <a class="sub-nav" href="/admin/users?role=2" style="text-decoration:none;">
                   Người chủ trọ
                </a>
                <span class="badge badge-primary badge-pill">2</span>
              </li>
              <li class="d-flex justify-content-between align-items-center pl-5 pr-4">
                <a class="sub-nav" href="/admin/users?role=3" style="text-decoration:none;">
                   Admin
                </a>
                <span class="badge badge-primary badge-pill">1</span>
              </li>
            </ul>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/posts">
              <i class="fa fa-user" aria-hidden="true"></i>
              Tin đăng trọ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/appointments">
              <i class="fa fa-user" aria-hidden="true"></i>
              Lịch hẹn
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/reviews">
              <i class="fa fa-comments" aria-hidden="true"></i>
              Đánh giá
            </a>
          </li>
        </ul>
    </nav>
    
    <div class="col-10 h-100">
        <div class="card">
          <div class="card-header">
            <h3>Chỉnh sửa thông tin người dùng</h3>
          </div>
          <div class="card-body m-5">
            <form method="post" id="form-1">
              <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Tên đăng nhập</label>
                <div class="col-sm-8 form-error">
                  <input name="TaiKhoan" type="text" class="form-control" id="username" value="{{user.TaiKhoan}}">
                  <span class="form-message"></span>
                </div>
              </div>
              <div class="form-group row">
                <label for="password"class="col-sm-2 col-form-label">Mật khẩu</label>
                <div class="col-sm-8 form-error">
                  <input type="password" class="form-control" id="password" placeholder="********" readonly>
                </div> 
                <div class="col-sm-2">
                  <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#passwordModal">Thay đổi</button>
                </div>
              </div>
              <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Họ tên</label>
                <div class="col-sm-8 form-error">
                  <input name="HoTen" type="text" class="form-control" value="{{user.HoTen}}" id="name">
                  <span class="form-message"></span>
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-8 form-error">
                  <input name="Email" type="email"  class="form-control"  id="email" value="{{user.Email}}">
                  <span class="form-message"></span>
                </div> 
              </div>
              <div class="form-group row">
                <label for="phone" class="col-sm-2 col-form-label">SĐT</label>
                <div class="col-sm-8 form-error">
                  <input name="SDT" type="text" class="form-control" value="{{user.SDT}}" id="phone">
                  <span class="form-message"></span>
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Giới tính</label>
                <div class="col-sm-8">
                  <div class="form-check form-check-inline h-100">
                    {{#ifEqualString user.GioiTinh "Nam"}}
                    <input class="form-check-input" type="radio" checked="true" name="GioiTinh" id="inlineRadio1" value="Nam" checked>
                    {{else}}
                     <input class="form-check-input" type="radio" checked="true" name="GioiTinh" id="inlineRadio1" value="Nam">
                    {{/ifEqualString}}
                    <label class="form-check-label" for="inlineRadio1">Nam</label>
                  </div>
                  <div class="form-check form-check-inline">
                    {{#ifEqualString user.GioiTinh "Nữ"}}
                    <input class="form-check-input" type="radio" checked="true" name="GioiTinh" id="inlineRadio1" value="Nữ" checked>
                    {{else}}
                     <input class="form-check-input" type="radio" checked="true" name="GioiTinh" id="inlineRadio1" value="Nữ">
                    {{/ifEqualString}}
                    <label class="form-check-label" for="inlineRadio1">Nữ</label>
                  </div>
                  <div class="form-check form-check-inline">
                    {{#ifEqualString user.GioiTinh "Khác"}}
                    <input class="form-check-input" type="radio" checked="true" name="GioiTinh" id="inlineRadio1" value="Khác" checked>
                    {{else}}
                     <input class="form-check-input" type="radio" checked="true" name="GioiTinh" id="inlineRadio1" value="Khác">
                    {{/ifEqualString}}
                    <label class="form-check-label" for="inlineRadio1">Khác</label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="dob" class="col-sm-2 col-form-label">Ngày sinh</label>
                <div class="col-sm-8">
                  <input name="NgaySinh" type="text" class="form-control" id="dob" value="{{user.NgaySinh}}">
                </div>
              </div>
              <div class="form-group row">
                <label for="role" class="col-sm-2 col-form-label">Loại người dùng</label>
                <div class="col-sm-8">
                  <select name="LoaiNguoiDung" class="custom-select mr-sm-2" id="role">
                    {{#ifEqualString user.LoaiNguoiDung "Người thuê trọ"}}
                    <option value="Người thuê trọ" selected>Người thuê trọ</option>
                    {{else}}
                    <option value="Người thuê trọ">Người thuê trọ</option>
                    {{/ifEqualString}}
                    {{#ifEqualString user.LoaiNguoiDung "Người chủ trọ"}}
                    <option value="Người chủ trọ" selected>Người chủ trọ</option>
                    {{else}}
                    <option value="Người chủ trọ">Người chủ trọ</option>
                    {{/ifEqualString}}
                    {{#ifEqualString user.LoaiNguoiDung "Admin"}}
                     <option value="Admin" selected>Admin</option>
                    {{else}}
                     <option value="Admin">Admin</option>
                    {{/ifEqualString}}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="role" class="col-sm-2 col-form-label">Trạng thái tài khoản</label>
                <div class="col-sm-8">
                  <select name="TrangThai" class="custom-select mr-sm-2" id="role">
                    {{#ifEqualString user.TrangThai "Bị khóa"}}
                    <option value="Bị khóa" selected>Bị khóa</option>
                    {{else}}
                    <option value="Bị khóa">Bị khóa</option>
                    {{/ifEqualString}}
                    {{#ifEqualString user.TrangThai "Hoạt động"}}
                    <option value="Hoạt động" selected>Hoạt động</option>
                    {{else}}
                    <option value="Hoạt động">Hoạt động</option>
                    {{/ifEqualString}}
                  </select>
                </div>
              </div>
              <button class="btn btn-primary font-weight-bold mt-5" type="submit" style="width:100px; display:flex; margin:auto; justify-content: center;">LƯU</button>
            
              <div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" style="margin-top: 11%;">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thay đổi mật khẩu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form method="post" action="/admin/users/{{user.NguoiDungID}}/password" id="form-2">
                    <div class="modal-body">
                      <div class="input-group">
                      
                        <div class="form-group input-group form-error" style="display: flex; flex-direction: column;">
                          <input
                            id="p2"
                            type="password"
                            name="MatKhau"
                            class="form-control w-100"
                            placeholder="Nhập mật khẩu mới"
                          />
                          <span class="form-message"></span>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                      <button type="submit" class="btn btn-primary d-flex px-4">Xác nhận</button>
                    </div>
                  </form>
              </div>
            </div>
            
              </div>
            </form>
          </div>
        </div>
      </div>

  </div>
</div>