{{#section "css"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="../../public/assets/css/admin/admin_profile.css"
  />
 
  <style>
    footer { margin-top: 50px; }
    td { font-weight: 500;}
  </style>
{{/section}}
{{#section "js"}}
  <script>
    $("#filter-select").change(function () {
        let selectedVal = $("#filter-select option:selected").val();
        if (selectedVal != "") {
            const currentUrl = new URL(window.location.href);
            currentUrl.searchParams.set('role', selectedVal);
            const updatedUrl = currentUrl.toString();
            window.location.href = updatedUrl;
        }
    })
  </script>
{{/section}}
<div class="container-fluid">
  <div class="row" style="margin-bottom:16px">
    <nav class="col-2 bg-light sidebar">
        <ul class="nav flex-column">
          <li>
            <div class="img-profile">
              <img
                class="rounded-circle img-thumbnail img-avt"
                {{!-- {{#if (isEmpty this.user.avatar) }}
                src="../../public/assets/pictures/no_avt.jpg"
                {{else}}
                src="../../public/assets/pictures/{{this.user.image}}"
                {{/if}} --}}
                src="../../public/assets/pictures/no-avt.jpg"
                alt="avatar"
              />
            </div>
            <div>
              <p class="h6 img-name"></p>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/profile">
              <i class="fa fa-cog" aria-hidden="true"></i>
              Hồ sơ cá nhân
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/admin/users">
              <i class="fa fa-user" aria-hidden="true"></i>
              Người dùng
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/posts">
              <i class="fa fa-user" aria-hidden="true"></i>
              Tin đăng trọ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/appointments">
              <i class="fa fa-user" aria-hidden="true"></i>
              Lịch hẹn
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/reviews">
              <i class="fa fa-comments" aria-hidden="true"></i>
              Đánh giá
            </a>
          </li>
        </ul>
    </nav>
    <div class="col-sm-10">
      <div class="card">
        <div class="card-header row pt-2" style="display:flex;justify-content: space-between;">
          <h4 class="col-6">Quản lí người dùng</h4>
          <div class="col-4">
            <select required name="filter" id="filter-select" onfocus='this.size=5;' onblur='this.size=1;'
              onchange='this.size=1; this.blur();' style="position:absolute;padding: 5px;margin-left: 40%;">
              <option class="text-center" value="">--Loại người dùng--</option>
              <option value="All">All</option>
              <option value="1">Người thuê trọ</option>
              <option value="2">Chủ trọ</option>
              <option value="3">Admin</option>
          </select>
          </div>
          
          <a class="btn btn-primary font-weight-bold col-2" href="/admin/users/new">Thêm</a>
        </div>
        {{#if this.empty}}
          <div class="card-body text-muted">
            Empty Data!!!
          </div>
        {{else}}
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Họ tên</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">SĐT</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Trạng thái</th>
                <th class="text-center" scope="col">Hành động</th>
              </tr>
            </thead>
            <tbody>
              {{#each users}}
                  <tr>
                    <th scope="row">{{math @index "+" 1}}</th>
                    <td>{{this.HoTen}}</td>
                    <td>{{this.DiaChi}}</td>
                    <td>{{this.SDT}}</td>
                    <td>{{this.Email}}</td>
                    <td>{{this.LoaiNguoiDung}}</td>
                    {{#ifEqualString this.TrangThai "Hoạt động"}}
                      <td class="text-success">{{this.TrangThai}}</td>
                      <td class="text-center">
                        <a
                          class="btn btn-sm btn-danger"
                          href="/admin/users?id={{this.NguoiDungID}}&block=true"
                          role="button"
                          title="Khóa tài khoản"
                        >
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        </a>
                        
                    {{else}}
                      <td class="text-danger">{{this.TrangThai}}</td>
                      <td class="text-center">
                        <a
                          class="btn btn-sm btn-success"
                          role="button"
                          title="Mở tài khoản"
                          href="/admin/users?id={{this.NguoiDungID}}&block=false"
                        >
                         <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        </a>
                    
                    {{/ifEqualString}}
                        </>
                        <a
                          class="btn btn-sm btn-secondary"
                          href="/admin/users/{{this.NguoiDungID}}"
                          role="button"
                          title="Chỉnh sửa"
                        >
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </a>
                    </td>
                  </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}

        {{#if havePagination}}
          <ul class="pagination">
            {{#if firstPage}}
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
            {{else}}
              <li class="page-item">
                <a class="page-link" href="{{prevPage}}">Previous</a>
              </li>
            {{/if}}
            {{#each this.pageNumbers}}
              {{#if isCurrent}}
                <li class="page-item active" aria-current="page">
                  <span class="page-link">{{value}}</span>
                </li>
              {{else}}
                <li class="page-item">
                  <a class="page-link" href="?page={{value}}">{{value}}</a>
                </li>
              {{/if}}
            {{/each}}
            {{#if lastPage}}
              <li class="page-item disabled">
                <span class="page-link">Next</span>
              </li>
            {{else}}
              <li class="page-item">
                <a class="page-link" href="{{nextPage}}">Next</a>
              </li>
            {{/if}}
          </ul>
        {{/if}}

        
      </div>
    </div>
  </div>
</div>